/* Keyframes de l'animation de disparition de l'écran de chargement (page d'accueil) */
@keyframes loading-screen-anim {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  
  /* Keyframes de l'animation du spinner de chargement (page d'accueil) */
  @keyframes spinner-rotation {
    0% {
      transform: rotate(20deg);
    }
    90% {
      transform: rotate(350deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   
  @keyframes rotate {
    0% {
        transform: rotate(0);
}
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.liste:nth-child(1) .liste__block:nth-of-type(1) {
    animation-delay: 0.1s;
}

.liste:nth-child(1) .liste__block:nth-of-type(2) {
    animation-delay: 0.2s;
}

.liste:nth-child(1) .liste__block:nth-of-type(3) {
    animation-delay: 0.3s;
}

.liste:nth-child(2) .liste__block:nth-of-type(1) {
    animation-delay: 0.4s;
}

.liste:nth-child(2) .liste__block:nth-of-type(2) {
    animation-delay: 0.5s;
}

.liste:nth-child(2) .liste__block:nth-of-type(3) {
    animation-delay: 0.6s;
}

.liste:nth-child(3) .liste__block:nth-of-type(1) {
    animation-delay: 0.7s;
}

.liste:nth-child(3) .liste__block:nth-of-type(2) {
    animation-delay: 0.8s;
}

.liste:nth-child(3) .liste__block:nth-of-type(3) {
    animation-delay: 0.9s;
}


/* Keyframes de l'animation de la rotation du bouton retour (page menus) */
@keyframes return-rotation {
    0% {
      transform: rotate(0deg);}
    100% {
      transform: rotate(360deg);
    }
  }
 
  
  
