/* Propriétés de l'écran de chargement (page d'accueil) */
.loading-screen {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 80;
    background-color: white;
    width: 100vw;
    height: 100%;
    animation: loading-screen-anim 500ms $loading-screen-delay both;
  }
  
  /* Propriétés du spinner de chargement (page d'accueil) */
  .spinner {
    height: 10vw;
    width: 10vw;
    border: 5px solid $primary-color;
    border-top-color: $secondary-color;
    border-radius: 100%;
    animation: spinner-rotation 0.7s infinite ease 0.25s;
  }
  
  /* Propriété du logo de l'écran de chargement (page d'accueil) */
  .loading-logo {
    font-family: "Shrikhand";
  }

  .carte {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    overflow:hidden;
    &__coeur {
    position:absolute;
    right:30px;
    top: 20px;
    font-size:25px;
    cursor: pointer;

    &--plein{
      background-image: linear-gradient(175deg, #ff79da, #9356dc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;     
      opacity: 0; 
      position:absolute;
      right:0;
      top:2px;
    }
    &:hover{

      .carte__coeur--vide{
        transition-duration: 1s;
        opacity:0;
      }

      .carte__coeur--plein{
        opacity:1;
        transition-duration: 1s;
      }
    }      
  }
}

