/* Propriétés de l'écran de chargement (page d'accueil) */
.loading-screen {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 80;
    background-color: white;
    width: 100vw;
    height: 100%;
    animation: loading-screen-anim 2000ms 1 both;
  }
  
  /* Propriétés du spinner de chargement (page d'accueil) */
  .spinner {
    height: 10vw;
    width: 10vw;
    border: 5px solid #9356dc;
    border-top-color: #ff79da;
    border-radius: 100%;
    animation: spinner-rotation 0.7s infinite ease 0.25s;
  }
  
  /* Propriété du logo de l'écran de chargement (page d'accueil) */
  .loading-logo {
    font-family: "Shrikhand";
  }
  
  /* Animation de la sélection d'un plat sur la page des menus */
.menu_type{
    .menu-block {
      &:hover .checkbox {
        width: 48vw;
        left: 83.9%;
      }
      &:hover .description-price {
        width: 80%;
        transition: ease 500ms;
      }
      &:hover i {
        animation: checkbox-rotatein 0.5s ease;
        transition: 50ms;
      }
    }
  }
  