/* Import des polices utilisées pour le site web _fonts.scss */
/* Shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Roboto */
/* ** _header.scss ** */
header {
    display: block;
    z-index: 0;
    height: 5%;
    box-shadow: 3px 4px 5px 1px #dfdfdf;
    background-color: white;
/* Propriétés du titre du site */
    h1 {
    font-family: "Shrikhand";
    font-size: 35px;
    text-align: center;
    padding: 4% 2% 2% 2%;
    margin: auto;
}
/* Style du bouton retour */
    .return-home {
    position: absolute;
    top: 2.5%;
    left: 7vw;
    font-size: 18px;
    color: rgb(75, 75, 75);
    &:hover {
      animation: return-rotation 500ms;
    }
  }
}
/* Résolution minimale : 425px */
@media (min-width: 425px) {
    header {
      .return-home {
        top: 3%;
      }
    }
  }
  /* Résolution minimale : 720px */
@media (min-width: 720px) {
    header {
      .return-home {
        top: 4%;
        font-size: 25px;
      }
    }
  }
  /* Résolution minimale : 768px */
@media (min-width: 768px) {
    header {
      display: block;
      z-index: 0;
      height: 5%;
      box-shadow: 3px 4px 5px 1px #dfdfdf;
      background-color: white;
      h1 {
        font-family: "Shrikhand";
        font-size: 55px;
        margin: auto;
      }
      .return-home {
        top: 5%;
        font-size: 30px;
      }
    }
  }
  /* Résolution minimale : 1024px */
@media (min-width: 1024px) {
  header {
    .return-home {
      top: 6%;
    }
  }
}
/* Résolution minimale : 1280px */
@media (min-width: 1280px) {
  header {
    .return-home {
      top: 7%;
    }
  }
}
/* Résolution minimale : 1440px */

@media (min-width: 1440px) {
  header {
    .return-home {
      top: 8%;
    }
  }
}

/* Résolution minimale : 1920px */
@media (min-width: 1920px) {
  header {
    .return-home {
      top: 8%;
      font-size: 35px;
    }
  }
}
/* ** _text-decoration.scss ** */
.__underlinedtext {
  padding-bottom: 5px;
  background-color: transparent;
  border-bottom: 3px solid #99e2d0;
}

/* ** html-body.scss ** */
html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 360px ) { 
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 640px) and (max-width: 719px)  {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}
/* ** _footer.scss ** */
footer {
  background-color: rgb(60, 60, 60);
  color: white;
  padding-bottom: 20px;
  h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 18px;
    width: 90vw;
    margin: auto;
    padding: 5% 0% 1%;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 90vw;
    font-size: 15px;
    margin: auto;
    a {
      margin-bottom: 10px;
      font-weight: 400;
      text-decoration: none;
      color: white;
      &:active {
        color: #9356dc;
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  footer {
    h2 {
      font-size: 28px;
      margin-bottom: 25px;
    }
    a {
      font-size: 25px;
      line-height: 35px;
    }
    padding-bottom: 35px;
  }
}
/* ** _buttons.scss ** */
a.__button {
  display: inline;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 6%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 3px 4px 5px 1px #dfdfdf;
  transition: ease 0.3s;
  &:hover {
    box-shadow: 4px 5px 6px 2px #999999;
    transition: ease 0.3s;
    background-image: linear-gradient(170deg, #fface8, #ae80e5);
  }
}

a.__orderbutton {
  display: block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 11%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 3px 4px 5px 1px #dfdfdf;
  transition: ease 0.3s;
  &:hover {
    box-shadow: 4px 5px 6px 2px #999999;
    transition: ease 0.3s;
    background-image: linear-gradient(170deg, #fface8, #ae80e5);
  }
}

@media (min-width: 425px) {
  a.__button {
    padding: 15px 18px;
  }
}

@media (min-width: 640px) {
  a.__button {
    font-size: 23px;
    padding: 19px 27px;
  }
}

@media (min-width: 720px) {
  a.__button {
    font-size: 23px;
    padding: 18px 25px;
  }
}

@media (min-width: 768px) {
  a.__button {
    font-size: 18px;
    padding: 18px 25px;
  }
}
/* ** _menus.scss ** */
.menu {
  margin: 0%;
  width: 100vw;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: whitesmoke;
  padding-top: 55%;
  height: fit-content;
  margin-bottom: 0%;
}
.restaurant-first{
  background-color: whitesmoke;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .restaurant_name {
    margin: 5%;
    margin-right: 0%;
    padding-top: 10px;
    font-family: "Shrikhand";
    font-size: 25px;
    font-weight: 200;
  }
}
#__choice {
  display: flex;
  flex-direction: column;
  padding: 15% 5%;
  background-color: whitesmoke;
  .__purpose {
    padding: 0% 5%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 0%;
  }
}
.menu .endroit{background-image: url("../content/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");}
.menu .alangeaam{background-image: url("content/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");}
.menu .fusain{background-image: url("content/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");}
.menu .herisson{background-image: url("content/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");}