@charset "UTF-8";
/* Variables des éléments graphiques du site */
/* Animation variables */
/* Variables des tailles */
/* Mixins du site */
/* Keyframes de l'animation de disparition de l'écran de chargement (page d'accueil) */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* Keyframes de l'animation du spinner de chargement (page d'accueil) */
@-webkit-keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.liste:nth-child(1) .liste__block:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.liste:nth-child(1) .liste__block:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.liste:nth-child(1) .liste__block:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.liste:nth-child(2) .liste__block:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.liste:nth-child(2) .liste__block:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.liste:nth-child(2) .liste__block:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.liste:nth-child(3) .liste__block:nth-of-type(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.liste:nth-child(3) .liste__block:nth-of-type(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.liste:nth-child(3) .liste__block:nth-of-type(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/* Keyframes de l'animation de la rotation du bouton retour (page menus) */
@-webkit-keyframes return-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes return-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Propriétés de l'écran de chargement (page d'accueil) */
.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 100vw;
  height: 100%;
  -webkit-animation: loading-screen-anim 500ms 2300ms both;
          animation: loading-screen-anim 500ms 2300ms both;
}

/* Propriétés du spinner de chargement (page d'accueil) */
.spinner {
  height: 10vw;
  width: 10vw;
  border: 5px solid #9356dc;
  border-top-color: #ff79da;
  border-radius: 100%;
  -webkit-animation: spinner-rotation 0.7s infinite ease 0.25s;
          animation: spinner-rotation 0.7s infinite ease 0.25s;
}

/* Propriété du logo de l'écran de chargement (page d'accueil) */
.loading-logo {
  font-family: "Shrikhand";
}

.carte {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  overflow: hidden;
}

.carte__coeur {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}

.carte__coeur--plein {
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 2px;
}

.carte__coeur:hover .carte__coeur--vide {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
}

.carte__coeur:hover .carte__coeur--plein {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/* Import des polices utilisées pour le site web _fonts.scss */
/* Shrikhand */
/* Roboto */
header {
  display: block;
  z-index: 0;
  height: 5%;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  background-color: white;
  /* Propriétés du titre du site */
  /* Style du bouton retour */
}

header h1 {
  font-family: "Shrikhand";
  font-size: 35px;
  text-align: center;
  padding: 4% 2% 2% 2%;
  margin: auto;
}

header .home-return {
  position: absolute;
  top: 2.5%;
  left: 7vw;
  font-size: 18px;
  color: #4b4b4b;
}

header .home-return:hover {
  -webkit-animation: return-rotation 500ms;
          animation: return-rotation 500ms;
}

/* Résolution minimale : 425px */
@media (min-width: 425px) {
  header .home-return {
    top: 3%;
  }
}

/* Résolution minimale : 720px */
@media (min-width: 720px) {
  header .home-return {
    top: 4%;
    font-size: 25px;
  }
}

/* Résolution minimale : 768px */
@media (min-width: 768px) {
  header {
    display: block;
    z-index: 0;
    height: 5%;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    background-color: white;
  }
  header h1 {
    font-family: "Shrikhand";
    font-size: 55px;
    margin: auto;
  }
  header .home-return {
    top: 5%;
    font-size: 30px;
  }
}

/* Résolution minimale : 1024px */
@media (min-width: 1024px) {
  header .home-return {
    top: 6%;
  }
}

/* Résolution minimale : 1280px */
@media (min-width: 1280px) {
  header .home-return {
    top: 7%;
  }
}

/* Résolution minimale : 1440px */
@media (min-width: 1440px) {
  header .home-return {
    top: 8%;
  }
}

/* Résolution minimale : 1920px */
@media (min-width: 1920px) {
  header .home-return {
    top: 8%;
    font-size: 35px;
  }
}

footer {
  background-color: #3c3c3c;
  color: white;
  padding-bottom: 20px;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  width: 90vw;
  margin: auto;
  padding: 5% 0% 1%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  font-size: 15px;
  margin: auto;
}

footer div a {
  margin-bottom: 10px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

footer div a:active {
  background-color: transparent;
}

@media (min-width: 720px) and (max-width: 767px) {
  footer {
    padding-bottom: 35px;
  }
  footer h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  footer a {
    font-size: 25px;
    line-height: 35px;
  }
}

a.button {
  display: inline;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  -webkit-box-shadow: 7px 5px 10px 0px #000000;
          box-shadow: 7px 5px 10px 0px #000000;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 6%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

a.button:hover {
  -webkit-box-shadow: 4px 5px 6px 2px #999999;
          box-shadow: 4px 5px 6px 2px #999999;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  background-image: linear-gradient(170deg, #fface8, #ae80e5);
}

a.order-button {
  display: block;
  color: white;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 7px 5px 10px 0px #000000;
          box-shadow: 7px 5px 10px 0px #000000;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 11%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

a.order-button:hover {
  -webkit-box-shadow: 4px 5px 6px 2px #999999;
          box-shadow: 4px 5px 6px 2px #999999;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  background-image: linear-gradient(170deg, #fface8, #ae80e5);
}

@media (min-width: 425px) {
  a.button {
    padding: 15px 18px;
  }
}

@media (min-width: 640px) {
  a.button {
    font-size: 23px;
    padding: 19px 27px;
  }
}

@media (min-width: 720px) {
  a.button {
    font-size: 23px;
    padding: 18px 25px;
  }
}

@media (min-width: 768px) {
  a.button {
    font-size: 18px;
    padding: 18px 25px;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 360px) {
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 640px) and (max-width: 719px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}

.liste__titre {
  padding-bottom: 5px;
  background-color: transparent;
  border-bottom: 3px solid #99e2d0;
}

.MenuImage {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 26rem;
}

.menu {
  margin: -4rem auto 0;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  max-width: 1440px;
}

.menu__id {
  padding: 1rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__food {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1150px) {
  .menu__food {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.menu__name {
  font-family: "Shrikhand", "cursive";
  margin: 2px 0 0 0;
  font-weight: 600;
}

.liste {
  background-color: whitesmoke;
  margin-top: 0%;
  z-index: 200;
}

.liste__titre {
  font-weight: 100;
  font-family: "Roboto Light", sans-serif;
  font-size: 17px;
  padding-top: 5%;
  margin: 0% 5% 7% 4%;
}

.liste__block {
  -webkit-animation: slide-up 1s both;
          animation: slide-up 1s both;
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.liste__block:hover .liste__checkbox {
  opacity: 1;
  margin-right: -1rem;
}

.liste__block:hover .liste__icone i {
  -webkit-animation: rotate 0.5s 0.1s both;
          animation: rotate 0.5s 0.1s both;
}

.liste__texte {
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.liste__plat {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liste__description {
  margin: 0;
  padding-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.liste__prix {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
}

.liste__checkbox {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 0rem;
  width: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liste__icone {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  color: #99e2d0;
}

.liste__icone i {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.order-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}

/* Code spécifique à la page d'accueil */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(226, 226, 226, 0.829);
}

.location__title {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(30, 30, 30, 0.8);
  padding: 0.2rem;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15% 5%;
  background-color: whitesmoke;
}

.choice__purpose {
  padding: 0% 5%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.choice p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0%;
}

.restaurant__point {
  text-decoration: none;
}

/* Style des blocs montrant les étapes de sélection */
.operation {
  background-color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20%;
}

.operation__title {
  margin: 15% 5% 2%;
}

.operation .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5% 5% 2% 0%;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  margin: 8%;
  margin-bottom: 2%;
  background-color: whitesmoke;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.operation .action:hover {
  background-color: #f2eafb;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.operation .action:hover > .operation .action__icon {
  color: #9356dc;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.operation .action__number {
  color: white;
  background-color: #9356dc;
  padding: 5px 9px;
  margin: 5% 0% 5% -5%;
  border-radius: 50%;
}

.operation .action__icon {
  color: #646464;
  font-size: 15px;
  margin-left: 15px;
}

.operation .action__text {
  font-size: 15px;
  font-weight: 400;
  margin-left: 20px;
}

/* Style de la section comprenant les restaurants disponibles */
.restaurants {
  background-color: whitesmoke;
  padding-bottom: 15%;
}

.restaurants__title {
  margin: 15% 5% 2%;
  padding: 15% 0% 5%;
}

.restaurants .restaurant__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 5%;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  width: 90vw;
  background-color: white;
  border-radius: 15px;
  /* Positionnement des images des restaurants */
}

.restaurants .restaurant__content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90vw;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}

.restaurants .restaurant__content .imagejay {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

.restaurants .restaurant__content .imagestil {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.restaurants .restaurant__content .imagetoa {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

.restaurants .restaurant__content .imagelouis {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

.restaurants .restaurant__content .restaurant__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: green;
  font-size: 15px;
  border-radius: 3px;
  padding: 0px;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.restaurants .restaurant__content .restaurant__new p {
  padding: 0px 10px;
  margin: 5px;
  font-weight: 700;
}

.restaurants .restaurant__content .restaurant__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5%;
  color: black;
}

.restaurants .restaurant__content .restaurant__details div {
  position: relative;
}

.restaurants .restaurant__content .restaurant__details div h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
}

.restaurants .restaurant__content .restaurant__details div p {
  font-size: 18px;
  font-weight: 300;
  line-height: 5px;
}

.restaurants .restaurant__content .restaurant__details .heart {
  position: absolute;
}

.restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
  position: absolute;
  font-size: 25px;
  font-weight: 100;
  left: 220px;
  top: -10px;
  opacity: 1;
  -webkit-transition: ease 100ms;
  transition: ease 100ms;
}

.restaurants .restaurant__content .restaurant__details .heart :nth-child(1):hover {
  opacity: 0;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
  position: absolute;
  font-size: 25px;
  font-weight: 800;
  left: 220px;
  top: -10px;
  color: #9356dc;
  background: linear-gradient(225deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.restaurants .restaurant__content .restaurant__details .heart :nth-child(2):hover {
  opacity: 1;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

@media (min-width: 280px) {
  .choice {
    padding: 10% 12%;
  }
  .choice__purpose {
    padding: 0% 10%;
  }
  .choice p {
    font-size: 18px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    margin-bottom: 15%;
  }
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content img {
    height: 200px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 250px;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 250px;
    top: -10px;
  }
}

@media (min-width: 411px) {
  .choice {
    padding: 10% 12%;
  }
  .choice__purpose {
    padding: 0% 10%;
  }
  .choice p {
    font-size: 18px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    margin-bottom: 15%;
  }
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content img {
    height: 200px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 280px;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 280px;
    top: -10px;
  }
}

@media (min-width: 540px) {
  .choice {
    padding: 10% 12%;
  }
  .choice__purpose {
    padding: 0% 10%;
  }
  .choice p {
    font-size: 18px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    margin-bottom: 15%;
  }
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content img {
    height: 200px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 300px;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 300px;
    top: -10px;
  }
}

@media (min-width: 540px) {
  .choice {
    padding: 10% 12%;
  }
  .choice__purpose {
    padding: 0% 10%;
  }
  .choice p {
    font-size: 18px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    margin-bottom: 15%;
  }
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content img {
    height: 200px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 400px;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 400px;
    top: -10px;
  }
}

/* Résolution horizontale de minimum 640px */
@media (min-width: 640px) and (max-width: 719px) {
  header h1 {
    font-size: 43px;
  }
  .choice {
    padding: 10% 8%;
  }
  .choice__purpose {
    padding: 0% 15%;
    font-size: 25px;
  }
  .choice p {
    font-size: 20px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__number {
    font-size: 20px;
    padding: 10px 19px;
    margin: 5% 0% 5% -5%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 25px;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content .restaurant__new {
    font-size: 25px;
    padding: 8px 10px;
    top: 20px;
    right: 20px;
  }
  .restaurants .restaurant__content img {
    height: 325px;
  }
  .restaurants .restaurant__content .restaurant__details div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .restaurants .restaurant__content .restaurant__details div h3 {
    font-size: 27px;
  }
  .restaurants .restaurant__content .restaurant__details div p {
    font-size: 30px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 460px;
    top: -10px;
    font-size: 35px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 460px;
    top: -10px;
    font-size: 35px;
  }
}

/* Résolution horizontale de minimum 720px */
@media (min-width: 720px) and (max-width: 767px) {
  header h1 {
    font-size: 43px;
  }
  .choice {
    padding: 10% 8%;
  }
  .choice__purpose {
    padding: 0% 15%;
  }
  .choice p {
    font-size: 27px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation .action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  .operation .action__number {
    font-size: 25px;
    padding: 10px 19px;
    margin: 5% 0% 5% -5%;
  }
  .operation .action__icon {
    color: #646464;
    font-size: 30px;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .operation .action__text {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .restaurants .restaurant__content .restaurant__new {
    font-size: 25px;
    padding: 8px 10px;
    top: 20px;
    right: 20px;
  }
  .restaurants .restaurant__content img {
    height: 325px;
  }
  .restaurants .restaurant__content .restaurant__details div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .restaurants .restaurant__content .restaurant__details div h3 {
    font-size: 30px;
  }
  .restaurants .restaurant__content .restaurant__details div p {
    font-size: 30px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 510px;
    top: -10px;
    font-size: 45px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 510px;
    top: -10px;
    font-size: 45px;
  }
}

/* Format tablette */
/* Résolution minimale de 768px */
@media (min-width: 768px) and (max-width: 1024px) {
  .spinner {
    border: 15px solid #9356dc;
    border-top-color: #ff79da;
  }
  .loading-logo {
    font-size: 35px;
  }
  .location p {
    font-size: 1.4rem;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    padding-bottom: 0px;
  }
  .operation__title {
    display: block;
    margin: 15% 5% 2%;
    margin-top: 25px;
    text-align: center;
  }
  .operation .__action {
    position: relative;
    margin: auto;
  }
  .operation .__action__number {
    position: absolute;
    left: 50%;
    top: -25px;
  }
  /* Style de la section comprenant les restaurants disponibles */
  .restaurants {
    background-color: whitesmoke;
    padding-bottom: 15%;
    margin-top: 0px;
    padding-top: 0px;
  }
  .restaurants__title {
    margin: 15% 5% 2%;
    padding: 5% 0% 5%;
    margin-top: 0px;
  }
  .restaurants__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants .restaurant__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-bottom: 5vw;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    width: 40vw;
    background-color: white;
    border-radius: 15px;
    -webkit-animation: progressive-spawn 2000ms 5s both;
            animation: progressive-spawn 2000ms 5s both;
    /* Positionnement des images des restaurants */
  }
  .restaurants .restaurant__content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 40vw;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurant__content .imagejay {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .imagestil {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  .restaurants .restaurant__content .imagetoa {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .imagelouis {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .restaurant__new {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    color: green;
    font-size: 15px;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .restaurants .restaurant__content .restaurant__new p {
    padding: 0px 10px;
    margin: 5px;
    font-weight: 700;
  }
  .restaurants .restaurant__content .restaurant__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0% 5%;
    color: black;
  }
  .restaurants .restaurant__content .restaurant__details div {
    position: relative;
  }
  .restaurants .restaurant__content .restaurant__details div h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
  }
  .restaurants .restaurant__content .restaurant__details div p {
    font-size: 18px;
    font-weight: 300;
    line-height: 5px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 31.5vw;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 31.5vw;
    top: -10px;
  }
}

/* Format d'écran de taille minimale de 1025px */
@media (min-width: 1025px) {
  .choice {
    padding: 50px;
  }
  .spinner {
    border: 25px solid #9356dc;
    border-top-color: #ff79da;
  }
  .loading-logo {
    font-size: 45px;
  }
  /* Style des blocs montrant les étapes de sélection */
  .operation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
  }
  .operation__title {
    display: block;
    margin: 15% 5% 2%;
    padding-left: 40vw;
    padding-right: 40vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  .operation .action {
    position: relative;
    padding: 1% 2% 1% 0%;
    margin: auto;
    width: 20vw;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .operation .action__number {
    position: absolute;
    left: 50%;
    top: -30px;
  }
  /* Style de la section comprenant les restaurants disponibles */
  .restaurants {
    background-color: whitesmoke;
    padding: 50px;
    margin: 0px;
  }
  .restaurants__title {
    margin: 15% 5% 2%;
    padding: 0% 0% 0%;
    margin-top: 0px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
  }
  .restaurants__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    margin-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants .restaurant__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 0vw;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    width: 20vw;
    background-color: white;
    border-radius: 15px;
    /* Positionnement des images des restaurants */
  }
  .restaurants .restaurant__content:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .restaurants .restaurant__content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 20vw;
    height: 10vw;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurant__content .imagejay {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .imagestil {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  .restaurants .restaurant__content .imagetoa {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .imagelouis {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  .restaurants .restaurant__content .restaurant__new {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    color: green;
    font-size: 15px;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .restaurants .restaurant__content .restaurant__new p {
    padding: 0px 10px;
    margin: 5px;
    font-weight: 700;
  }
  .restaurants .restaurant__content .restaurant__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0% 5%;
    color: black;
  }
  .restaurants .restaurant__content .restaurant__details div {
    position: relative;
  }
  .restaurants .restaurant__content .restaurant__details div h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
  }
  .restaurants .restaurant__content .restaurant__details div p {
    font-size: 18px;
    font-weight: 300;
    line-height: 5px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(1) {
    left: 15vw;
    top: -10px;
  }
  .restaurants .restaurant__content .restaurant__details .heart :nth-child(2) {
    left: 15vw;
    top: -10px;
  }
}
/*# sourceMappingURL=main.css.map */