.menu .endroit{background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");}
.menu .alangeaam{background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");}
.menu .fusain{background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");}
.menu .herisson{background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");}