.menu {
  margin: 0%;
  width: 100vw;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: whitesmoke;
  padding-top: 55%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0%;
}

.restaurant-first {
  background-color: whitesmoke;
  border-radius: 30px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-first .restaurant_name {
  margin: 5%;
  margin-right: 0%;
  padding-top: 10px;
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: 200;
}

.restaurant-first i {
  margin: 5%;
  padding-top: 15px;
  margin-left: 15px;
  font-size: 25px;
}

.menu_type {
  background-color: whitesmoke;
  margin-top: 0%;
  z-index: 200;
}

.menu_type h2 {
  font-weight: 100;
  font-family: "Roboto Light", sans-serif;
  font-size: 17px;
  padding-top: 5%;
  margin: 0% 5% 7% 4%;
}

.menu_type .menu-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 0% 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85vw;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-animation: slide-up 1s both;
          animation: slide-up 1s both;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.menu_type .menu-block h3 {
  margin: 12px 19% 0px 0px;
  margin-right: 19%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.menu_type .menu-block .description-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 5px;
}

.menu_type .menu-block .description-price :nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  line-height: 15px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin: 0px;
}

.menu_type .menu-block .description-price :nth-child(2) {
  z-index: 3;
  position: relative;
  line-height: 15px;
  margin-top: 5px;
}

.menu_type .menu-block .checkbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #99e2d0;
  color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 15px;
  border-radius: 0px 15px 15px 0px;
}

.order-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}

@media (min-width: 720px) and (max-width: 767px) {
  .menu_type h2 {
    font-size: 23px;
  }
  .menu_type .menu-block h3 {
    font-size: 20px;
  }
  .menu_type .menu-block .description-price {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .menu {
    padding-top: 45%;
  }
  .restaurant-first {
    height: 100px;
  }
  .restaurant-first .restaurant_name {
    margin-top: 20px;
    padding-top: 20px;
  }
  .restaurant-first i {
    margin-top: 20px;
    padding-top: 20px;
  }
  .menu-food {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
    background-color: whitesmoke;
    margin: auto;
    z-index: -1;
  }
  .menu_type {
    margin: auto;
  }
  .menu_type h2 {
    margin-top: 0px;
  }
  .menu_type .menu-block {
    width: 35vw;
  }
}

@media (min-width: 1025px) {
  .menu_type .menu-block {
    width: 25vw;
  }
}
/*# sourceMappingURL=menus.css.map */