@charset "UTF-8";
/* Variables des éléments graphiques du site */
/* Animation variables */
/* Variables des tailles */
/* Mixins du site */
/* Import des polices utilisées pour le site web */
/* Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  display: block;
  z-index: 0;
  height: 5%;
  box-shadow: 3px 4px 5px 1px #dfdfdf;
  transition: ease 0.3s;
  background-color: white;
}
header h1 {
    font-family: "Shrikhand";
    font-size: 35px;
    text-align: center;
    padding: 4% 2% 2% 2%;
    margin: auto;
  }
  header .return-home {
    position: absolute;
    top: 2.5%;
    left: 7vw;
    font-size: 18px;
    color: #4b4b4b;
  }
  /* Résolution minimale : 425px */
@media (min-width: 425px) {
    header .return-home {
      top: 3%;
    }
  }
  /* Résolution minimale : 720px */
@media (min-width: 720px) {
    header .return-home {
      top: 4%;
      font-size: 25px;
    }
  }
  /* Résolution minimale : 768px */
@media (min-width: 768px) {
    header {
      display: block;
      z-index: 0;
      height: 5%;
      box-shadow: 3px 4px 5px 1px #dfdfdf;
      transition: ease 0.3s;
      background-color: white;
    }
    header h1 {
      font-family: "Shrikhand";
      font-size: 55px;
      margin: auto;
    }
    header .return-home {
      top: 5%;
      font-size: 30px;
    }
  }
  /* Résolution minimale : 1024px */
  @media (min-width: 1024px) {
    header .return-home {
      top: 6%;
    }
  }
  /* Résolution minimale : 1280px */
  @media (min-width: 1280px) {
    header .return-home {
      top: 7%;
    }
  }
  /* Résolution minimale : 1440px */
  @media (min-width: 1440px) {
    header .return-home {
      top: 8%;
    }
  }
  /* Résolution minimale : 1920px */
  @media (min-width: 1920px) {
    header .return-home {
      top: 8%;
      font-size: 35px;
    }
  }