@charset "UTF-8";
/* Variables des éléments graphiques du site */
/* Animation variables */
/* Variables des tailles */
/* Mixins du site */
/* Import des polices utilisées pour le site web _fonts.scss */
/* Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  display: block;
  z-index: 0;
  height: 5%;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  background-color: white;
  /* Propriétés du titre du site */
  /* Style du bouton retour */
}

header h1 {
  font-family: "Shrikhand";
  font-size: 35px;
  text-align: center;
  padding: 4% 2% 2% 2%;
  margin: auto;
}

header .home-return {
  position: absolute;
  top: 2.5%;
  left: 7vw;
  font-size: 18px;
  color: #4b4b4b;
}

header .home-return:hover {
  -webkit-animation: return-rotation 500ms;
          animation: return-rotation 500ms;
}

/* Résolution minimale : 425px */
@media (min-width: 425px) {
  header .home-return {
    top: 3%;
  }
}

/* Résolution minimale : 720px */
@media (min-width: 720px) {
  header .home-return {
    top: 4%;
    font-size: 25px;
  }
}

/* Résolution minimale : 768px */
@media (min-width: 768px) {
  header {
    display: block;
    z-index: 0;
    height: 5%;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    background-color: white;
  }
  header h1 {
    font-family: "Shrikhand";
    font-size: 55px;
    margin: auto;
  }
  header .home-return {
    top: 5%;
    font-size: 30px;
  }
}

/* Résolution minimale : 1024px */
@media (min-width: 1024px) {
  header .home-return {
    top: 6%;
  }
}

/* Résolution minimale : 1280px */
@media (min-width: 1280px) {
  header .home-return {
    top: 7%;
  }
}

/* Résolution minimale : 1440px */
@media (min-width: 1440px) {
  header .home-return {
    top: 8%;
  }
}

/* Résolution minimale : 1920px */
@media (min-width: 1920px) {
  header .home-return {
    top: 8%;
    font-size: 35px;
  }
}

footer {
  background-color: #3c3c3c;
  color: white;
  padding-bottom: 20px;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  width: 90vw;
  margin: auto;
  padding: 5% 0% 1%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  font-size: 15px;
  margin: auto;
}

footer div a {
  margin-bottom: 10px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

footer div a:active {
  background-color: transparent;
}

@media (min-width: 720px) and (max-width: 767px) {
  footer {
    padding-bottom: 35px;
  }
  footer h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  footer a {
    font-size: 25px;
    line-height: 35px;
  }
}

a.__button {
  display: inline;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 6%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
}

a.__button:hover {
  background-image: linear-gradient(170deg, #fface8, #ae80e5);
}

a.__orderbutton {
  display: block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 11%;
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
}

a.__orderbutton:hover {
  background-image: linear-gradient(170deg, #fface8, #ae80e5);
}

@media (min-width: 425px) {
  a.__button {
    padding: 15px 18px;
  }
}

@media (min-width: 640px) {
  a.__button {
    font-size: 23px;
    padding: 19px 27px;
  }
}

@media (min-width: 720px) {
  a.__button {
    font-size: 23px;
    padding: 18px 25px;
  }
}

@media (min-width: 768px) {
  a.__button {
    font-size: 18px;
    padding: 18px 25px;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 360px) {
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 640px) and (max-width: 719px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}

.__underlinedtext {
  padding-bottom: 5px;
  background-color: transparent;
  border-bottom: 3px solid #99e2d0;
}

/* Keyframes de l'animation de disparition de l'écran de chargement (page d'accueil) */
@-webkit-keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* Keyframes de l'animation du spinner de chargement (page d'accueil) */
@-webkit-keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner-rotation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  90% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Keyframes de l'animation de la rotation de la checkbox (page menus) */
@-webkit-keyframes checkbox-rotatein {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes checkbox-rotatein {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Keyframes de l'animation de la rotation du bouton retour (page menus) */
@-webkit-keyframes return-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes return-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Code spécifique à la page d'accueil */
.__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(226, 226, 226, 0.829);
}

.__location .__locationtitle {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(30, 30, 30, 0.8);
  padding: 0.2rem;
  margin-left: 5px;
}

#choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15% 5%;
  background-color: whitesmoke;
}

#choice .purpose {
  padding: 0% 5%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#choice p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0%;
}

.__restaurantpage {
  text-decoration: none;
}

/* Style des blocs montrant les étapes de sélection */
#operation {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20%;
}

#operation .__operationtitle {
  margin: 15% 5% 2%;
  /* ** @include title-style ** */
}

#operation .__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5% 5% 2% 0%;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  /* ** @include elements-shadow ** */
  margin: 8%;
  margin-bottom: 2%;
  background-color: whitesmoke;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

#operation .__action:hover {
  background-color: #f2eafb;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

#operation .__action:hover > .__actionicon {
  color: #9356dc;
  /* ** $primary-color ** */
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

#operation .__action .__actionnumber {
  color: white;
  background-color: #9356dc;
  /* ** $primary-color ** */
  padding: 5px 9px;
  margin: 5% 0% 5% -5%;
  border-radius: 50%;
}

#operation .__action .__actionicon {
  color: #646464;
  font-size: 15px;
  margin-left: 15px;
}

#operation .__action .__actiontext {
  font-size: 15px;
  font-weight: 400;
  margin-left: 20px;
}

/* Style de la section comprenant les restaurants disponibles */
#restaurants-choice {
  background-color: whitesmoke;
  padding-bottom: 15%;
}

#restaurants-choice .__restaurantstitle {
  margin: 15% 5% 2%;
  /* ** @include title-style ** */
  padding: 15% 0% 5%;
}

#restaurants-choice .restaurant-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-bottom: 5%;
  -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
          box-shadow: 3px 4px 5px 1px #dfdfdf;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  /* ** @include element-shadow ** */
  width: 90vw;
  background-color: white;
  border-radius: 15px;
  /* Positionnement des images des restaurants */
}

#restaurants-choice .restaurant-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90vw;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}

#restaurants-choice .restaurant-content .__imagejay {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

#restaurants-choice .restaurant-content .__imagestil {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

#restaurants-choice .restaurant-content .__imagetoa {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

#restaurants-choice .restaurant-content .__imagelouis {
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
}

#restaurants-choice .restaurant-content .__newrestaurant {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  /* $terciary-color */
  color: green;
  font-size: 15px;
  border-radius: 3px;
  padding: 0px;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#restaurants-choice .restaurant-content .__newrestaurant p {
  padding: 0px 10px;
  margin: 5px;
  font-weight: 700;
}

#restaurants-choice .restaurant-content .__detailsrestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5%;
  color: black;
}

#restaurants-choice .restaurant-content .__detailsrestaurant div {
  position: relative;
}

#restaurants-choice .restaurant-content .__detailsrestaurant div h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
}

#restaurants-choice .restaurant-content .__detailsrestaurant div p {
  font-size: 18px;
  font-weight: 300;
  line-height: 5px;
}

#restaurants-choice .restaurant-content .__detailsrestaurant .heart {
  position: absolute;
}

#restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
  position: absolute;
  font-size: 25px;
  font-weight: 100;
  left: 220px;
  top: -10px;
  opacity: 1;
  -webkit-transition: ease 100ms;
  transition: ease 100ms;
}

#restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1):hover {
  opacity: 0;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

#restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
  position: absolute;
  font-size: 25px;
  font-weight: 800;
  left: 220px;
  top: -10px;
  color: #9356dc;
  background: linear-gradient(225deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2):hover {
  opacity: 1;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

/* Résolution minimale : 375px */
@media (min-width: 375px) {
  #__location {
    padding-right: 50px;
  }
  #__location .__locationtitle {
    font-size: 18px;
  }
  #choice {
    padding: 10% 5%;
  }
  #choice .purpose {
    padding: 0% 10%;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation {
    margin-bottom: 15%;
  }
  #operation .__action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  #operation .__action .__actionicon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #operation .__action .__actiontext {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #restaurants-choice .restaurant-content img {
    height: 175px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
    left: 270px;
    top: -10px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
    left: 270px;
    top: -10px;
  }
}

@media (min-width: 425px) {
  #__location {
    padding-right: 65px;
  }
  #choice {
    padding: 10% 12%;
  }
  #choice .purpose {
    padding: 0% 10%;
  }
  #choice p {
    font-size: 18px;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation {
    margin-bottom: 15%;
  }
  #operation .__action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  #operation .__action .__actionicon {
    color: #646464;
    font-size: 16px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #operation .__action .__actiontext {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #restaurants-choice .restaurant-content img {
    height: 200px;
  }
}

/* Résolution horizontale de minimum 640px */
@media (min-width: 640px) and (max-width: 719px) {
  header h1 {
    font-size: 43px;
  }
  #choice {
    padding: 10% 8%;
  }
  #choice .purpose {
    padding: 0% 15%;
    font-size: 35px;
  }
  #choice p {
    font-size: 30px;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation .__action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  #operation .__action .__actionnumber {
    font-size: 25px;
    padding: 10px 19px;
    margin: 5% 0% 5% -5%;
  }
  #operation .__action .__actionicon {
    color: #646464;
    font-size: 30px;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #operation .__action .__actiontext {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #restaurants-choice .restaurant-content .__newrestaurant {
    font-size: 25px;
    padding: 8px 10px;
    top: 20px;
    right: 20px;
  }
  #restaurants-choice .restaurant-content img {
    height: 325px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div h3 {
    font-size: 30px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div p {
    font-size: 30px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
    left: 480px;
    top: -10px;
    font-size: 45px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
    left: 480px;
    top: -10px;
    font-size: 45px;
  }
}

/* Résolution horizontale de minimum 720px */
@media (min-width: 720px) and (max-width: 767px) {
  header h1 {
    font-size: 43px;
  }
  #choice {
    padding: 10% 8%;
  }
  #choice .purpose {
    padding: 0% 15%;
  }
  #choice p {
    font-size: 27px;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation .__action {
    padding: 2% 2% 2% 0%;
    margin-bottom: 1%;
  }
  #operation .__action .__actionnumber {
    font-size: 25px;
    padding: 10px 19px;
    margin: 5% 0% 5% -5%;
  }
  #operation .__action .__actionicon {
    color: #646464;
    font-size: 30px;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #operation .__action .actiontext {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #restaurants-choice .restaurant-content .__newrestaurant {
    font-size: 25px;
    padding: 8px 10px;
    top: 20px;
    right: 20px;
  }
  #restaurants-choice .restaurant-content img {
    height: 325px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div h3 {
    font-size: 30px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div p {
    font-size: 30px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
    left: 480px;
    top: -10px;
    font-size: 45px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
    left: 480px;
    top: -10px;
    font-size: 45px;
  }
}

/* Format tablette */
/* Résolution minimale de 768px */
@media (min-width: 768px) {
  .spinner {
    border: 15px solid #9356dc;
    border-top-color: #ff79da;
  }
  .loading-logo {
    font-size: 35px;
  }
  #__location p {
    font-size: 1.4rem;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
  }
  #operation .__operationtitle {
    display: block;
    margin: 15% 5% 2%;
    /* include title-style */
    padding-left: 40vw;
    padding-right: 40vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  #operation .__action {
    position: relative;
    padding: 3% 2% 3% 0%;
    margin: auto;
  }
  #operation .__action .__actionnumber {
    position: absolute;
    left: 50%;
    top: -25px;
  }
  /* Style de la section comprenant les restaurants disponibles */
  #restaurants-choice {
    background-color: whitesmoke;
    padding-bottom: 15%;
    margin-top: 0px;
    padding-top: 0px;
  }
  #restaurants-choice .__restaurantstitle {
    margin: 15% 5% 2%;
    /* include title-style */
    padding: 5% 0% 5%;
    margin-top: 0px;
  }
  #restaurants-choice .__restaurantlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #restaurants-choice .restaurant-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-left: 6vw;
    margin-right: 2vw;
    margin-bottom: 5vw;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    /* @include elements-shadow */
    width: 40vw;
    /* $restaurant-image-size-tab */
    background-color: white;
    border-radius: 15px;
    -webkit-animation: progressive-spawn 2000ms 5s both;
            animation: progressive-spawn 2000ms 5s both;
    /* Positionnement des images des restaurants */
  }
  #restaurants-choice .restaurant-content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 40vw;
    /* $restaurant-image-size-tab */
    height: 150px;
    border-radius: 15px 15px 0px 0px;
  }
  #restaurants-choice .restaurant-content .__imagejay {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__imagestil {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  #restaurants-choice .restaurant-content .__imagetoa {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__imagelouis {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__newrestaurant {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    /* $terciary-color */
    color: green;
    font-size: 15px;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #restaurants-choice .restaurant-content .__newrestaurant p {
    padding: 0px 10px;
    margin: 5px;
    font-weight: 700;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0% 5%;
    color: black;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div {
    position: relative;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div p {
    font-size: 18px;
    font-weight: 300;
    line-height: 5px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
    left: 31.5vw;
    top: -10px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
    left: 31.5vw;
    top: -10px;
  }
}

/* Format d'écran de taille minimale de 1025px */
@media (min-width: 1025px) {
  #choice {
    padding: 50px;
  }
  .spinner {
    border: 25px solid #9356dc;
    border-top-color: #ff79da;
  }
  .loading-logo {
    font-size: 45px;
  }
  /* Style des blocs montrant les étapes de sélection */
  #operation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
  }
  #operation .__operationtitle {
    display: block;
    margin: 15% 5% 2%;
    /* @include title-style */
    padding-left: 40vw;
    padding-right: 40vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  #operation .__action {
    position: relative;
    padding: 1% 2% 1% 0%;
    margin: auto;
    width: 20vw;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #operation .__action .__actionnumber {
    position: absolute;
    left: 50%;
    top: -30px;
  }
  /* Style de la section comprenant les restaurants disponibles */
  #restaurants-choice {
    background-color: whitesmoke;
    padding: 50px;
    margin: 0px;
  }
  #restaurants-choice .__restaurants-title {
    margin: 15% 5% 2%;
    /* @include title-style */
    padding: 0% 0% 0%;
    margin-top: 0px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
  }
  #restaurants-choice .__restaurantlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    margin-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #restaurants-choice .restaurant-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 0vw;
    -webkit-box-shadow: 3px 4px 5px 1px #dfdfdf;
            box-shadow: 3px 4px 5px 1px #dfdfdf;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    /* @include elements-shadow */
    width: 20vw;
    /* $restaurant-image-size-desktop */
    background-color: white;
    border-radius: 15px;
    /* Positionnement des images des restaurants */
  }
  #restaurants-choice .restaurant-content:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  #restaurants-choice .restaurant-content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 20vw;
    /* $restaurant-image-size-desktop */
    height: 10vw;
    border-radius: 15px 15px 0px 0px;
  }
  #restaurants-choice .restaurant-content .__imagejay {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__imagestil {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  #restaurants-choice .restaurant-content .__imagetoa {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__imagelouis {
    -o-object-position: 50% bottom;
       object-position: 50% bottom;
  }
  #restaurants-choice .restaurant-content .__newrestaurant {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99e2d0;
    color: green;
    font-size: 15px;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #restaurants-choice .restaurant-content .__newrestaurant p {
    padding: 0px 10px;
    margin: 5px;
    font-weight: 700;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0% 5%;
    color: black;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div {
    position: relative;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant div p {
    font-size: 18px;
    font-weight: 300;
    line-height: 5px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(1) {
    left: 15vw;
    top: -10px;
  }
  #restaurants-choice .restaurant-content .__detailsrestaurant .heart :nth-child(2) {
    left: 15vw;
    top: -10px;
  }
}

.menu.fusain {
  background-image: url("../../content/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu.alangeaam {
  background-image: url("../../content/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu.endroit {
  background-image: url("../../content/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menu.herisson {
  background-image: url("../../content/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

/* Propriétés de l'écran de chargement (page d'accueil) */
.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 100vw;
  height: 100%;
  -webkit-animation: loading-screen-anim 2000ms 1 both;
          animation: loading-screen-anim 2000ms 1 both;
}

/* Propriétés du spinner de chargement (page d'accueil) */
.spinner {
  height: 10vw;
  width: 10vw;
  border: 5px solid #9356dc;
  border-top-color: #ff79da;
  border-radius: 100%;
  -webkit-animation: spinner-rotation 0.7s infinite ease 0.25s;
          animation: spinner-rotation 0.7s infinite ease 0.25s;
}

/* Propriété du logo de l'écran de chargement (page d'accueil) */
.loading-logo {
  font-family: "Shrikhand";
}

/* Animation de la sélection d'un plat sur la page des menus */
.menu-type .menu-block:hover .checkbox {
  width: 17vw;
  left: 83.9%;
}

.menu-type .menu-block:hover .description-price {
  width: 80%;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

.menu-type .menu-block:hover i {
  -webkit-animation: checkbox-rotatein 0.5s ease;
          animation: checkbox-rotatein 0.5s ease;
  -webkit-transition: 50ms;
  transition: 50ms;
}

/* Résolution minimale : 375px */
@media (min-width: 375px) {
  .menu-type .menu-block:hover .checkbox {
    left: 81%;
  }
}

/* Résolution minimale : 425px */
@media (min-width: 425px) {
  .menu-type .menu-block:hover .checkbox {
    left: 83%;
  }
}

/* Résolution minimale : 720px */
@media (min-width: 720px) {
  .menu-type .menu-block:hover .checkbox {
    left: 85%;
  }
}

/* Résolution minimale : 768px - Format tablette*/
@media (min-width: 768px) {
  .menu-type .menu-block:hover .checkbox {
    left: 80%;
  }
}

/* Résolution minimale : 1024px - Format tablette*/
@media (min-width: 1024px) {
  .menu-type .menu-block:hover .checkbox {
    left: 80%;
  }
}

/* Résolution minimale : 1280px - Format tablette*/
@media (min-width: 1280px) {
  .menu-type .menu-block:hover .checkbox {
    left: 78%;
  }
}

/* Résolution minimale : 1440px - Format tablette*/
@media (min-width: 1440px) {
  .menu-type .menu-block:hover .checkbox {
    left: 78%;
  }
}
/*# sourceMappingURL=test.css.map */